# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [1]:
#Your code here; import the necessary packages
import pandas as pd 
import sqlite3

conn = sqlite3.connect("data.sqlite")
c = conn.cursor()

In [ ]:
#Your code here; create the connection and cursor

## Select the Average Number of Orders on a Product by Product Basis

In [9]:
#Your code here; use a subquery. No join will be necessary.


c.execute("""select AVG(numOrders)
                    from (select productCode,
                                 count(distinct orderNumber) as numOrders
                                 from products
                                 join orderdetails
                                 using(productCode)
                                 group by 1
                         );
          """
         )

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

   AVG(numOrders)
0       27.486239

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [ ]:
#Your code here; use a subquery. No join will be necessary.

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [35]:
#Your code here
c.execute(""" SELECT productName, SUM(quantityOrdered) AS total_orders
          FROM products 
          JOIN orderdetails USING(productCode) 
          GROUP BY productCode
          ORDER BY total_ord


""")






df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

OperationalError: incomplete input

In [26]:
c.execute('SELECT * from orderdetails GROUP BY productCode')
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

    orderNumber productCode quantityOrdered priceEach orderLineNumber
0         10417    S10_1678              66     79.43               2
1         10424    S10_1949              50    201.44               6
2         10417    S10_2016              45    116.56               5
3         10417    S10_4698              56    162.67               4
4         10414    S10_4757              49    114.24               3
5         10425    S10_4962              38    131.49              12
6         10419    S12_1099              12    182.90              13
7         10413    S12_1108              36    201.57               2
8         10424    S12_1666              49    121.64               3
9         10417    S12_2823              21    144.60               1
10        10413    S12_3148              47    145.04               3
11        10419    S12_3380              10    111.57              11
12        10413    S12_3891              22    173.02               1
13        10419    S12_3990              34     64.64              14
14        10425    S12_4473              33     95.99               4
15        10419    S12_4675              32     99.04              10
16        10424    S18_1097              54    108.50               5
17        10419    S18_1129              38    117.48               5
18        10422    S18_1342              51     91.44               2
19        10422    S18_1367              25     47.44               1
20        10419    S18_1589              37    100.80               1
21        10416    S18_1662              24    129.31              14
22        10420    S18_1749              37    153.00               5
23        10419    S18_1889              39     67.76               9
24        10419    S18_1984              34    133.72               4
25        10425    S18_2238              28    147.36               3
26        10420    S18_2248              36     52.06               4
27        10425    S18_2319              38    117.82               7
28        10420    S18_2325              45    116.96               2
29        10425    S18_2432              19     48.62              10
..          ...         ...             ...       ...             ...
79        10412    S24_4048              31    108.82               1
80        10423    S24_4258              28     78.89               4
81        10416    S24_4278              48     70.28               5
82        10418    S24_4620              10     66.29               3
83        10425    S32_1268              41     83.79              11
84        10416    S32_1374              45     86.90               2
85        10418    S32_2206              43     36.61               6
86        10425    S32_2509              11     50.32               6
87        10413    S32_3207              24     56.55               6
88        10424    S32_3522              44     54.94               2
89        10416    S32_4289              26     68.10               7
90        10418    S32_4485              50    100.01               9
91        10416    S50_1341              37     39.71               8
92        10425    S50_1392              18     94.92               2
93        10413    S50_1514              51     53.31               4
94        10418    S50_4713              40     72.41               7
95        10414   S700_1138              37     62.00               6
96        10416   S700_1691              23     88.60               9
97        10414   S700_1938              34     74.48              13
98        10415   S700_2047              32     73.32               4
99        10416   S700_2466              22     84.76              11
100       10414   S700_2610              31     61.44               4
101       10424   S700_2824              46     85.98               1
102       10416   S700_2834              41     98.48               3
103       10416   S700_3167              39     65.60              10
104       10414   S700_3505              28     84.14               7
105       10414   S700_3962              40     84.41               8
106       10416   S700_4002              43     63.67              12
107       10415    S72_1253              42     43.20               3
108       10414    S72_3212              47     54.60               9

[109 rows x 5 columns]

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

In [ ]:
#Your code here

## Select the Employee Number, Office Code, City (of the office), and Name (First and Last) of those Employees who Sold Products that Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [ ]:
#Your code here

c.execute("""SELECT employeeNumber, officeCode, offices.city,
            lastName, firstName FROM 
            (SELECT employeeNumber FROM employees
            JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
            
            
            
            
            
            """)

## Select the Employee Number, Name (First and Last) and Number of Customers of Employees Who's Customers Have an Average Credit Limit of Over 15K

In [ ]:
#Your code here



c.execute("""SELECT employeeNumber, lastName, firstName 
                """)

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!